@font-face {
  font-family: 'Gotham-bold';
  src:  url('./Gotham-Font/Gotham-Bold.otf')
}
@font-face {
  font-family: 'Gotham-Light';
  src:  url('./Gotham-Font/Gotham-Light.otf')
}

* {
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  background-color: rgb(10, 10, 10);
}
h1{
  color: white;
}


#login-div > #login-button{
  background-color: #1DB954;
  border-radius: 10px;
  border: none;
  padding: 20px;
  margin-top: 76%;
  width: 50%;
  font-family:'Gotham-Bold';
  color: white;
  font-size: 30px;
  cursor: pointer;
}

#left-sidebar{
  width: 200px;
  height: 100vh;
  background-color: black;
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  font-size: 14px;
  margin: 10px;
}
.sidebar-category-div{
  height: 50px;
  width: 100%;
  background-color: rgb(43, 43, 43);
  border: solid black 1px;
}
.sidebar-category-div > p{
  margin: 15px;
  text-align: left;
}


::-webkit-scrollbar {
  width: 4px;
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}