@font-face {
  font-family: 'Gotham-bold';
  src:  url('./Gotham-Font/Gotham-Bold.otf')
}
@font-face {
  font-family: 'Gotham-Light';
  src:  url('./Gotham-Font/Gotham-Light.otf')
}

* {
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  background-color: rgb(10, 10, 10);
}
h1{
  color: white;
}


#login-div > #login-button{
  background-color: #1DB954;
  border-radius: 10px;
  border: none;
  padding: 20px;
  margin-top: 76%;
  width: 50%;
  font-family:'Gotham-Bold';
  color: white;
  font-size: 30px;
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 4px;
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}